footer {
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}
.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
